<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" internalLogLevel="Off" internalLogFile="Logs/internalLog.txt">
    <targets>
        <target type="File" name="info" fileName="${basedir}/Logs/${logger}/${shortdate}/info.txt" layout="${longdate} ${uppercase:${level}} ${message}" />
        <target type="File" name="err" fileName="${basedir}/Logs/${logger}/${shortdate}/error.txt" layout="==========================${longdate}======================${newline}${uppercase:${level}} ${message}${newline}${exception:format=ToString}${newline}==========================${newline}${newline}" />
        <target type="Console" name="consoleinfo"  layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="consoleinfo" />
        <logger name="*" minlevel="Error" writeTo="consoleinfo" />
    </rules>
</nlog>
